<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sqq.mapper.DistrictMapper">
  <resultMap id="BaseResultMap" type="com.sqq.domain.District">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="regionCode" jdbcType="VARCHAR" property="regionCode" />
    <result column="regionName" jdbcType="VARCHAR" property="regionName" />
    <result column="createTime" jdbcType="VARCHAR" property="createTime" />
    <result column="updateTime" jdbcType="VARCHAR" property="updateTime" />
    <result column="cityCode" jdbcType="VARCHAR" property="cityCode" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from district
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sqq.domain.District">
    insert into district (id, regionCode, regionName, 
      createTime, updateTime, cityCode
      )
    values (#{id,jdbcType=INTEGER}, #{regionCode,jdbcType=VARCHAR}, #{regionName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sqq.domain.District">
    update district
    set regionCode = #{regionCode,jdbcType=VARCHAR},
      regionName = #{regionName,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=VARCHAR},
      cityCode = #{cityCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, regionCode, regionName, createTime, updateTime, cityCode
    from district
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, regionCode, regionName, createTime, updateTime, cityCode
    from district
  </select>
  <resultMap id="BaseResultMap" type="com.sqq.domain.District">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="regionCode" jdbcType="VARCHAR" property="regionCode" />
    <result column="regionName" jdbcType="VARCHAR" property="regionName" />
    <result column="createTime" jdbcType="VARCHAR" property="createTime" />
    <result column="updateTime" jdbcType="VARCHAR" property="updateTime" />
    <result column="cityCode" jdbcType="VARCHAR" property="cityCode" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from district
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sqq.domain.District">
    insert into district (id, regionCode, regionName, 
      createTime, updateTime, cityCode
      )
    values (#{id,jdbcType=INTEGER}, #{regionCode,jdbcType=VARCHAR}, #{regionName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sqq.domain.District">
    update district
    set regionCode = #{regionCode,jdbcType=VARCHAR},
      regionName = #{regionName,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=VARCHAR},
      cityCode = #{cityCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, regionCode, regionName, createTime, updateTime, cityCode
    from district
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, regionCode, regionName, createTime, updateTime, cityCode
    from district
  </select>
</mapper>