<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sqq.mapper.HallseatMapper">
  <resultMap id="BaseResultMap" type="com.sqq.domain.Hallseat">
    <id column="seatNo" jdbcType="VARCHAR" property="seatno" />
    <result column="sectionId" jdbcType="VARCHAR" property="sectionid" />
    <result column="sectionName" jdbcType="VARCHAR" property="sectionname" />
    <result column="columnId" jdbcType="VARCHAR" property="columnid" />
    <result column="columnNo" jdbcType="VARCHAR" property="columnno" />
    <result column="rowId" jdbcType="VARCHAR" property="rowid" />
    <result column="rowNo" jdbcType="VARCHAR" property="rowno" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="cinemaId" jdbcType="INTEGER" property="cinemaid" />
    <result column="hallId" jdbcType="INTEGER" property="hallid" />
    <result column="createTime" jdbcType="VARCHAR" property="createtime" />
    <result column="updateTime" jdbcType="VARCHAR" property="updatetime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from hallseat
    where seatNo = #{seatno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sqq.domain.Hallseat">
    insert into hallseat (seatNo, sectionId, sectionName, 
      columnId, columnNo, rowId, 
      rowNo, status, cinemaId, 
      hallId, createTime, updateTime
      )
    values (#{seatno,jdbcType=VARCHAR}, #{sectionid,jdbcType=VARCHAR}, #{sectionname,jdbcType=VARCHAR}, 
      #{columnid,jdbcType=VARCHAR}, #{columnno,jdbcType=VARCHAR}, #{rowid,jdbcType=VARCHAR}, 
      #{rowno,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{cinemaid,jdbcType=INTEGER}, 
      #{hallid,jdbcType=INTEGER}, #{createtime,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sqq.domain.Hallseat">
    update hallseat
    set sectionId = #{sectionid,jdbcType=VARCHAR},
      sectionName = #{sectionname,jdbcType=VARCHAR},
      columnId = #{columnid,jdbcType=VARCHAR},
      columnNo = #{columnno,jdbcType=VARCHAR},
      rowId = #{rowid,jdbcType=VARCHAR},
      rowNo = #{rowno,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      cinemaId = #{cinemaid,jdbcType=INTEGER},
      hallId = #{hallid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=VARCHAR}
    where seatNo = #{seatno,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select seatNo, sectionId, sectionName, columnId, columnNo, rowId, rowNo, status, 
    cinemaId, hallId, createTime, updateTime
    from hallseat
    where seatNo = #{seatno,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select seatNo, sectionId, sectionName, columnId, columnNo, rowId, rowNo, status, 
    cinemaId, hallId, createTime, updateTime
    from hallseat
  </select>
</mapper>