<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sqq.mapper.HallMapper">
  <resultMap id="BaseResultMap" type="com.sqq.domain.Hall">
    <id column="hallId" jdbcType="INTEGER" property="hallid" />
    <result column="hallCode" jdbcType="VARCHAR" property="hallcode" />
    <result column="hallName" jdbcType="VARCHAR" property="hallname" />
    <result column="vip" jdbcType="BIT" property="vip" />
    <result column="imax" jdbcType="BIT" property="imax" />
    <result column="coupleHall" jdbcType="BIT" property="couplehall" />
    <result column="specialsJsonString" jdbcType="VARCHAR" property="specialsjsonstring" />
    <result column="cinemaId" jdbcType="INTEGER" property="cinemaid" />
    <result column="createTime" jdbcType="VARCHAR" property="createtime" />
    <result column="updateTime" jdbcType="VARCHAR" property="updatetime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hall
    where hallId = #{hallid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sqq.domain.Hall">
    insert into hall (hallId, hallCode, hallName, 
      vip, imax, coupleHall, specialsJsonString, 
      cinemaId, createTime, updateTime
      )
    values (#{hallid,jdbcType=INTEGER}, #{hallcode,jdbcType=VARCHAR}, #{hallname,jdbcType=VARCHAR}, 
      #{vip,jdbcType=BIT}, #{imax,jdbcType=BIT}, #{couplehall,jdbcType=BIT}, #{specialsjsonstring,jdbcType=VARCHAR}, 
      #{cinemaid,jdbcType=INTEGER}, #{createtime,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sqq.domain.Hall">
    update hall
    set hallCode = #{hallcode,jdbcType=VARCHAR},
      hallName = #{hallname,jdbcType=VARCHAR},
      vip = #{vip,jdbcType=BIT},
      imax = #{imax,jdbcType=BIT},
      coupleHall = #{couplehall,jdbcType=BIT},
      specialsJsonString = #{specialsjsonstring,jdbcType=VARCHAR},
      cinemaId = #{cinemaid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=VARCHAR}
    where hallId = #{hallid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select hallId, hallCode, hallName, vip, imax, coupleHall, specialsJsonString, cinemaId, 
    createTime, updateTime
    from hall
    where hallId = #{hallid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select hallId, hallCode, hallName, vip, imax, coupleHall, specialsJsonString, cinemaId, 
    createTime, updateTime
    from hall
  </select>
</mapper>